@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: #2b272f;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}

.link {
  border: 2px solid #fafafa;
  padding: .5em 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

#header {
  padding: 1.2em;
}

#header #navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50px;
      grid-template-columns: auto 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #navbar .nav__mobile {
  -ms-grid-column-align: end;
      justify-self: end;
}

#main {
  width: 100%;
}

.hero .container--hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  background-color: #2d2640;
  color: #fafafa;
  position: relative;
}

.hero .hero__bg {
  position: relative;
  text-align: center;
  width: 100%;
}

.hero .hero__bg::before {
  content: "";
  position: absolute;
  background: url("/images/bg-pattern-intro-left-mobile.svg");
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -3%);
          transform: translate(0%, -3%);
  width: 168px;
  height: 165px;
}

.hero .hero__bg::after {
  content: "";
  position: absolute;
  background: url("/images/bg-pattern-intro-right-mobile.svg");
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0%, 53%);
          transform: translate(0%, 53%);
  width: 124px;
  height: 330px;
}

.hero .hero__bg .bg__content {
  margin: 7.5em 2.2em;
}

.hero .hero__bg .bg__content--h1 {
  margin-bottom: .5em;
  line-height: 45px;
}

.hero .hero__bg .bg__content--p {
  margin-bottom: 3em;
  line-height: 25px;
  letter-spacing: 1px;
}

.service .container--service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 3em;
  justify-items: center;
  margin: 9em 1.8em;
}

.service .container--service .service--title {
  position: relative;
}

.service .container--service .service--title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #95a9c6;
}

.service .container--service .service--title .service--h2 {
  margin: .7em 0;
}

.service .container--service .service__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 3em;
  width: 100%;
}

.service .container--service .service__inner .service__inner--item {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.5em;
  justify-items: center;
  letter-spacing: -1px;
}

.service .container--service .service__inner .service__inner--item .item__body {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;
}

.service .container--service .service__inner .service__inner--item .item__body .item__body--p {
  text-align: center;
  color: #837d87;
  font-size: 1.7rem;
  line-height: 25px;
}

.contact .container--contact {
  background-color: #2d2640;
  color: #fafafa;
  margin: 3em 1.8em;
  position: relative;
}

.contact .container--contact .contact__content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "link";
  justify-items: center;
  grid-gap: 2.5em;
  padding: 4.5em 1.5em;
}

.contact .container--contact .contact__content .contact__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
}

.contact .container--contact .contact__content .title--contact {
  letter-spacing: -1px;
}

.contact .container--contact .contact__content .contact__link {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: link;
}

.contact .container--contact .contact--bg {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */