@import 'config';

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: $very-dark-violet;
  font-family: $body-font;
  font-weight: $body-w400;
  overflow-x: hidden;
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: $heading-w400;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}

ul {
  list-style-type: none;
}

.overflow_hidden {
  overflow: hidden;
}

.link {
  border: 2px solid $very-light-gray;
  padding: .5em 1.5em;
  text-transform: uppercase;
  font-weight: $body-w700;
}

// Header
#header {
  padding: 1.2em;

  #navbar {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;

    .nav__mobile {
      justify-self: end;
      cursor: pointer;

      #threelines {
        opacity: 1;
      }

      #cross {
        opacity: 0;
      }

    }

  }

}

.mobile__menu {
  position: absolute;
  top: 75px;
  width: 100%;
  height: 100%;
  background-color: $very-dark-violet;
  color: $very-light-gray;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 700ms ease-in-out;

  .container--mobile {
    margin: 3em 1.8em;
  }

  .mobile__list {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 60px);
    justify-items: center;
    align-items: center;

    .mobile__item {
      width: 100%;
      text-align: center;
    }

    .mobile__item--link {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      display: block;
    }

  }

  &::after {
    content: "";
    display: block;
    width: 375px;
    height: 218px;
    background: url('/images/bg-pattern-mobile-nav.svg');
    position: absolute;
    bottom: 0;
  }

}

.active {
  z-index: 1;
  transform: scale(1,1);
}

#main {
  width: 100%;
}

.container {
  max-width: 1000px;
}

.hero {
  background-color: $dark-violet;
  color: $very-light-gray;
  position: relative;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    background: url('/images/bg-pattern-intro-left-mobile.svg');
    top: 0;
    left: 0;
    transform: translate(0% , 275%);
    width: 168px;
    height: 165px;
  }

  &::after {
    content: "";
    position: absolute;
    background: url('/images/bg-pattern-intro-right-mobile.svg');
    right: 0;
    bottom: 0;
    transform: translate(0%, 55%);
    width: 124px;
    height: 330px;
  }

  .container--hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    position: relative;
    height: 100%;
  }

  .hero__image--img {
    height: 100%;
  }

  .hero__bg {

    position: relative;
    text-align: center;
    width: 100%;

    .bg__content {
      margin: 7em 1.8em;
    }

    .bg__content--h1 {
      margin-bottom: .5em;
      line-height: 45px;
    }

    .bg__content--p {
      font-size: 1.8rem;
      margin-bottom: 3em;
      line-height: 30px;
      letter-spacing: -1px;
    }

  }

}

.service {
  .container--service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 3em;
    justify-items: center;
    margin: 9em 1.8em;

    .service--title {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: $grayish-blue;
      }

      .service--h2 {
        margin: .7em 0;
      }
    }

    .service__inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-row-gap: 3em;
      width: 100%;

      .service__inner--item {
        display: grid;
        grid-row-gap: 1.5em;
        justify-items: center;
        letter-spacing: -1px;

        .item__body {
          display: grid;
          grid-row-gap: 1em;
          justify-items: center;

          .item__body--p {
            text-align: center;
            color: $dark-grayish-violet;
            font-size: 1.7rem;
            line-height: 25px;
          }

        }

      }

    }

  }
}

.contact {
  .container--contact {
    
    background-color: $dark-violet;
    color: $very-light-gray;
    margin: 3em 1.8em;
    position: relative;
    
    .contact__content {
      display: grid;
      grid-template-areas: 
      "title"
      "link";
      justify-items: center;
      grid-gap: 2.5em;

      padding: 4.5em 1.5em;

      .contact__title {
        grid-area: title;
        text-align: center;
      }

      .title--contact {
        letter-spacing: -1px;
      }

      .contact__link {
        grid-area: link;
      }

    }

    .contact--bg {
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}

#footer {
  width: 100%;

  .container--footer {
    position: relative;
    .footer__icon {
      position: absolute;
      top: 0;
      left: 0;
      background: url('/images/bg-pattern-footer-mobile.svg');
      width: 374px;
      height: 173px;
    }

    .footer__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      margin: 4em 1.8em;
      grid-gap: 2em;
      padding: 3em 0;

      .footer__top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2.5em;
        justify-items: center;
        padding: 2em 0;
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $grayish-blue;
        }


        .footer__smaccnt {
          width: 50%;
        }

        .smaccnt__items {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }

      }

      .footer__bottom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 2em;
        justify-items: center;


        .footer__bt--col {
          letter-spacing: 1px;
          font-size: 1.4rem;
          font-weight: $body-w700;
          text-transform: uppercase;
          text-align: center;
          line-height: 20px;
        }

        .bt__title {
          margin-bottom: 2em;
          color: $dark-grayish-violet;
        }

        .bt__body--item {
          margin: .5em 0;
        }

        .bt__body--link {
          color: $very-dark-violet;
        }

      }


    }

  }
}