@import 'config';

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: $very-dark-violet;
  font-family: $body-font;
  font-weight: $body-w400;
  overflow-x: hidden;
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: $heading-w400;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}


.link {
  border: 2px solid $very-light-gray;
  padding: .5em 1.5em;
  text-transform: uppercase;
  font-weight: $body-w700;
}

// Header
#header {
  padding: 1.2em;

  #navbar {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;

    .nav__mobile {
      justify-self: end;
    }

  }

}

#main {
  width: 100%;
}

.hero {

  .container--hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    background-color: $dark-violet;
    color: $very-light-gray;
    position: relative;
  }

  .hero__bg {

    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      background: url('/images/bg-pattern-intro-left-mobile.svg');
      top: 0;
      left: 0;
      transform: translate(0% , -3%);
      width: 168px;
      height: 165px;
    }

    &::after {
      content: "";
      position: absolute;
      background: url('/images/bg-pattern-intro-right-mobile.svg');
      right: 0;
      bottom: 0;
      transform: translate(0%, 53%);
      width: 124px;
      height: 330px;
    }

    .bg__content {
      margin: 7.5em 2.2em;
    }

    .bg__content--h1 {
      margin-bottom: .5em;
      line-height: 45px;
    }

    .bg__content--p {
      margin-bottom: 3em;
      line-height: 25px;
      letter-spacing: 1px;
    }

  }

}

.service {
  .container--service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 3em;
    justify-items: center;
    margin: 9em 1.8em;

    .service--title {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: $grayis-blue;
      }

      .service--h2 {
        margin: .7em 0;
      }
    }

    .service__inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-row-gap: 3em;
      width: 100%;

      .service__inner--item {
        display: grid;
        grid-row-gap: 1.5em;
        justify-items: center;
        letter-spacing: -1px;

        .item__body {
          display: grid;
          grid-row-gap: 1em;
          justify-items: center;

          .item__body--p {
            text-align: center;
            color: $dark-grayish-violet;
            font-size: 1.7rem;
            line-height: 25px;
          }

        }

      }

    }

  }
}

.contact {
  .container--contact {
    
    background-color: $dark-violet;
    color: $very-light-gray;
    margin: 3em 1.8em;
    position: relative;
    
    .contact__content {
      display: grid;
      grid-template-areas: 
      "title"
      "link";
      justify-items: center;
      grid-gap: 2.5em;

      padding: 4.5em 1.5em;

      .contact__title {
        grid-area: title;
        text-align: center;
      }

      .title--contact {
        letter-spacing: -1px;
      }

      .contact__link {
        grid-area: link;
      }

    }

    .contact--bg {
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}